<!--3.3.1 ajouter un *ngIf pour masquer le div panel si etat === 'removed'-->
<div class="panel panel-default" (click)="item.toggleAnimateState()" 
  [@itemAnimateState]="item.animateState" *ngIf="item.animateState !== 'removed'" >
  <div class="panel-heading">
    <span>Référence: {{item.reference}}</span>

    <span class="state-0 pull-right" *ngIf="0==item.state">A livrer</span>
    <span class="state-1 pull-right" *ngIf="1==item.state">En cours de livraison</span>
    <span class="state-2 pull-right" *ngIf="2==item.state">Commande livrée</span>
  </div>
  <div class="panel-body">
    <p>Nom : {{item.name}} </p>
    
    <!--3.3.2 ajouter div avec 2 boutons pour passer d'un etat à l'autre grace à la methode changeState()-->
    <div *ngIf="2 !== item.state">
      Changer de status :
      <button (click)="changeState($event, 1)" *ngIf="1 !== item.state" class="btn btn-primary">En cours de livraison</button>
      <button (click)="changeState($event, 2)" class="btn btn-primary">Livrée</button>
    </div>
  </div>
</div>

