
<br>
<div class="panel" role="search">
  <div class="fom-group">
    Filtrer la liste :
    <input #listFilter (keyup)="0" class="form-control" placeholder="Search">
  </div>
</div>

<!--affiche la collection d 'Item' dans les div-->
<div *ngFor="let item of collection | itemFilter:listFilter.value">

  <div class="panel panel-default animated" *ngIf="item.animateState !== 'removedFromDom'" [ngClass]="{'rubberBand': item.animateState !== 'removedFromDom',
               'fadeOut' : item.animateState==='removed'}">
    <div class="panel-heading">
      <span>Référence: {{item.reference}}</span>

      <appState class="pull-right" [state]="item.state"></appState>

    </div>


    <div class="panel-body">
      <p>Nom : <span Highlight>{{item.name}} </span></p>

      <div *ngIf="2 != item.state">
        Changer de status :
        <button (click)="changeState(item,1)" *ngIf="1 != item.state" class="btn btn-primary">En cours de livraison</button>
        <button (click)="changeState(item,2)" class="btn btn-primary">Livrée</button>
      </div>
      <div *ngIf="2 === item.state">
        <button (click)="deleteItem(item)" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash"> Supprimer</span></button>
      </div>
    </div>
  </div>
</div>