/* You can add global styles to this file, and also import other style files */

/*4.1.1 ajout css sur les class state-0, state-1, state-2 et inspecteur d element*/
/*4.2.1 couper coller les css de styles.css vers app.component.css*/